---
import PageLayout from "@layouts/PageLayout.astro"
import Thumbnail from "@components/Thumbnail.tsx"
---

<PageLayout title="Experiments" description="A space for coding experiments, prototypes, and fun ideas.">
  <section class="max-w-2xl mx-auto py-16 px-4 pt-48">
    <h1 class="text-3xl font-bold mb-4">Coding Experiments</h1>
    <p class="mb-8 text-lg text-black/70 dark:text-white/70">This is a playground for code snippets, prototypes, and creative coding ideas. Click on a thumbnail to see an experiment.</p>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <Thumbnail title="Figma Primary Buttons" href="/experiments/figma-buttons" client:load />
      <Thumbnail title="Primary Buttons" href="/experiments/primary-buttons" client:load />
    </div>
  </section>
</PageLayout>
